@model Merceria4.Models.Productos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>El pago se realizo con exito, Gracias por preferirnos!</h1>
<p><a href="@Url.Action("Index","Home")" class="btn btn-success">Regresar al inicio</a></p>
